<odoo>
	#Patient Action	

	<record id="action_hospital_patient"
		model="ir.actions.act_window">
		<field name="name">Patients</field>
		<field name="res_model">hospital.patient</field>
		<field name="view_mode">tree,form</field>
	</record>

	
	# Doctor Action

	<record id="action_doctor"
		model="ir.actions.act_window">
		<field name="name">Doctors</field>
		<field name="res_model">hospital.doctor</field>
		<field name="view_mode">tree,form</field>
	</record>


	#speciality  Action

	<record id="action_speciality"
		model="ir.actions.act_window">
		<field name="name">Speciality</field>
		<field name="res_model">hospital.speciality</field>
		<field name="view_mode">tree,form</field>
	</record>


	#City Action

	<record id="action_city"
		model="ir.actions.act_window">
		<field name="name">City</field>
		<field name="res_model">hospital.city</field>
		<field name="view_mode">tree,form</field>
	</record>

	#Appointment Action

	<record id="action_appointment"
		model="ir.actions.act_window">
		<field name="name">Appointment</field>
		<field name="res_model">hospital.appointment</field>
		<field name="view_mode">tree,form</field>
	</record>

	#Pharma Action

	<record id="action_pharma"
		model="ir.actions.act_window">
		<field name="name">Pharma</field>
		<field name="res_model">hospital.pharma</field>
		<field name="view_mode">tree,form</field>
	</record>

  #Prescription Action

	<record id="action_prescription"
		model="ir.actions.act_window">
		<field name="name">Prescription</field>
		<field name="res_model">hospital.prescription</field>
		<field name="view_mode">tree,form</field>
	</record>

 #Labtest Action

	<record id="action_labtest"
		model="ir.actions.act_window">
		<field name="name">Labtest</field>
		<field name="res_model">hospital.labtest</field>
		<field name="view_mode">tree,form</field>
	</record>
 
 #Bill Action

	<record id="action_bill"
		model="ir.actions.act_window">
		<field name="name">Bill</field>
		<field name="res_model">hospital.bill</field>
		<field name="view_mode">tree,form</field>
	</record>

 #Change Appointment Action

	<record id="action_changeappointment"
		model="ir.actions.act_window">
		<field name="name">Change Appointment</field>
		<field name="res_model">change.appointment.wizard</field>
		<field name="view_mode">form</field>
		<field name='target'>new</field>
	</record>
 
 
	#Menus


		<menuitem id = "hospital_main_menu" 
			name ="Hospital" 
			sequence = "0"/>


		<menuitem id = "patient_main_menu"
			name = "Patients Details"
			parent="hospital_main_menu"/>

			
		<menuitem id="patient_sub_menu"
			name="Patients"
			parent="patient_main_menu"
			action="action_hospital_patient"/>
		
		<menuitem id="doctor_main_menu"
			name="Doctors"
			parent="hospital_main_menu"
			action="action_doctor"/>

		<menuitem id="doctor_submenu"
			name="Doctors"
			parent="doctor_main_menu"
			action="action_doctor"/>

		<menuitem id="doctpr_speciality_submenu"
			name="Speciality"
			parent="doctor_main_menu"
			action="action_speciality"/>
		

		<menuitem id="patient_city_submenu"
			name="City"
			parent="patient_main_menu"
			action="action_city"/>	

		<menuitem id="patient_appointment"
			name="Appointment"
			parent="hospital_main_menu"
			action="action_appointment"/>

		<menuitem id="patient_appointment_submenu"
			name="Appointment"
			parent="patient_appointment"
			action="action_appointment"/>

		<menuitem id="pharma_main_menu"
			name="Pharma Store"
			parent="hospital_main_menu"
			action="action_pharma"/>
		
		<menuitem id="prescription_main_menu"
			name="Prescription"
			parent="hospital_main_menu"
			action="action_prescription"/>
	
		<menuitem id="labtest_main_menu"
			name="Medical test"
			parent="hospital_main_menu"
			action="action_labtest"/>
	
		<menuitem id="bill_main_menu"
			name="Bill"
			parent="hospital_main_menu"
			action="action_bill"/>

		<menuitem id="changeappointment_main_menu"
			name="Change Appointment"
			parent="patient_appointment"
			action="action_changeappointment"
			sequence='100'/>
	

</odoo>